<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">                    
  <title>Historias clinicas</title>
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/modal.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/styleLogin.css')}}">                                         
  
  <link rel="icon" href="{{url_for('static', filename='Imgs/buap.png')}}">
  
</head>

<body>  
  <table> 
    <thead>
      <tr>
        <td>idDiagnostico</td>
        <td>Ingreso</td>
        <td>Dm</td>
        <td>Hta</td>
        <td>Obecidad</td>
        <td>Dis</td>
        <td>SindromeMetabolico</td>
        <td>Sobrepeso</td>
        <td>Detecccion</td>
        <td>tratamientoPrevio</td>
        <td>Covid</td>
        <td>PacienteExpediente</td>
      </tr>
    </thead>
      <tbody>
        <tr>
          <td>{{d.idDiagnostico}}</td>
          <td>{{d.ingreso}}</td>
          <td>{{d.dm}}</td>
          <td>{{d.hta}}</td>
          <td>{{d.obesidad}}</td>
          <td>{{d.dis}}</td>
          <td>{{d.sindromeMetabolico}}</td>
          <td>{{d.sobrepeso}}</td>
          <td>{{d.deteccion}}</td>
          <td>{{d.tratamientoPrevio}}</td>
          <td>{{d.covid}}</td>
          <td>{{d.Paciente_expediente}}</td>
        </tr>
      </tbody>
  </table> 
<form action="/tasks"><button type="submit">REGRESAR</button></form>
</body>
</html>