<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">                    
  <title>Historias clinicas</title>
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/modal.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/styleLogin.css')}}">                                         
  
  <link rel="icon" href="{{url_for('static', filename='Imgs/buap.png')}}">
  
</head>

<body>   
  <table> 
    <thead>
      <tr>
        <td>idcontrol</td>
        <td>fecha</td>
        <td>peso</td>
        <td>talla</td>
        <td>trigliceridos</td>
        <td>glucemia</td>
        <td>HbA1c</td>
        <td>revisionPies</td>
        <td>controlado</td>
        <td>ayudaMutua</td>
        <td>complicaciones</td>
        <td>referencia</td>
        <td>baja</td>
        <td>total</td>
        <td>ldl</td>
        <td>hdl</td>
        <td>cintura</td>
        <td>sistolica</td>
        <td>diastolica</td>
        <td>noFarmacologico</td>
        <td>farmacologico</td>
        <td>observaciones</td>
        <td>Paciente_expediente</td>
      </tr>
    </thead>
      <tbody>
        <tr>
        <td>{{d.idcontrol}}</td>
        <td>{{d.fecha}}</td>
        <td>{{d.peso}}</td>
        <td>{{d.talla}}</td>
        <td>{{d.trigliceridos}}</td>
        <td>{{d.glucemia}}</td>
        <td>{{d.HbA1c}}</td>
        <td>{{d.revisionPies}}</td>
        <td>{{d.controlado}}</td>
        <td>{{d.ayudaMutua}}</td>
        <td>{{d.complicaciones}}</td>
        <td>{{d.referencia}}</td>
        <td>{{d.baja}}</td>
        <td>{{d.total}}</td>
        <td>{{d.ldl}}</td>
        <td>{{d.hdl}}</td>
        <td>{{d.cintura}}</td>
        <td>{{d.sistolica}}</td>
        <td>{{d.diastolica}}</td>
        <td>{{d.noFarmacologico}}</td>
        <td>{{d.farmacologico}}</td>
        <td>{{d.observaciones}}</td>
        <td>{{d.Paciente_expediente}}</td>
        <td>{{d.Paciente_expediente}}</td>
        </tr>
      </tbody>
  </table> 
<form action="/tasks"><button type="submit">REGRESAR</button></form>
</body>
</html>