<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historias clinicas</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/modal.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/styleLogin.css')}}">
  
    <link rel="icon" href="Imgs/buap.png">
</head>
<body>

    <main class="d-flex">
        <body>
            <div class="login" id="login">
                  <div id="panelL">
                      <form action="/login" method="post">
                          <h1>Iniciar Sesión</h1>
                          
                          <label for="username">Usuario</label>
                          <input type="text" placeholder="Ingresa tu usuario" name ="usuario">

                          <label for="password">Contraseña</label>
                          <input type="password" placeholder="Ingresa tu contraseña" name ="password">

                          {% if message %}

                          <div class="alert alert-danger alert-dismissible fade show" role="alert">
                              <strong>Error</strong>{{ message }}
                          </div>

                          {% endif %}

                      <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
                          
                        </form>
                  </div>
              </div>
    </main>
</body>
</html>
