<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">                    
  <title>Historias clinicas</title>
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/modal.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/styleLogin.css')}}">                                         
  
  <link rel="icon" href="{{url_for('static', filename='Imgs/buap.png')}}">
  
</head>

<body>
      <div id="paginaPrincipal">
        <header> Historias clinicas </header>

        <nav>
          <div id="navD">
            <button class="navB" id="srch">Buscar</button>
            <button class="navB" id="rgst">Registro</button>
          </div>
          <button class="navB" id="consulta">Consulta</button>
        </nav>

        <div class="container">
          <div class="home" id="home">
            <div class="buscar" id="buscar">
              <table>
               <h1>Buscar<br></h1>
                <tr> Buscar por:
                  <select name="buscar">
                    <option value="espacio">⠀⠀⠀⠀⠀⠀⠀</option>
                    <option value="nombre">Nombre</option>
                    <option value=" CURP">CURP</option>
    
    
                </select> 
             
                    (Nombre/CURP):
                <input type="text" id="input-search" placeholder="Filtrar por Nombre/CURP" style="width: 200px;"><br><br>           
                   <p></p>
                  <th>Pacientes</th>      
                </tr>
                <tr>
                  <td><input type="text" id="paciente1" placeholder="Paciente 1" style="width: 200px;">  </td>
                  <td> <button on click> Consultar </button></td>
                  <td><button on click> Modificar </button></td>
                  <td><button on click> Eliminar </button></td> 
                  <td><button on click> Visita </button></td>            
                </tr>
                <tr>
                  <td><input type="text" id="paciente2" placeholder="Paciente 2" style="width: 200px;">  </td>
                  <td> <button on click> Consultar </button></td>
                  <td><button on click> Modificar </button></td>
                  <td><button on click> Eliminar </button></td>
                  <td><button on click> Visita </button></td>
                </tr>
                <tr>
                  <td><input type="text" id="paciente3" placeholder="Paciente 3" style="width: 200px;">  </td>
                  <td> <button on click> Consultar </button></td>
                  <td><button on click> Modificar </button></td>
                  <td><button on click> Eliminar </button></td> 
                  <td><button on click> Visita </button></td>            
                </tr>
                <tr>
                  <td><input type="text" id="paciente4" placeholder="Paciente 4" style="width: 200px;">  </td>
                  <td> <button on click> Consultar </button></td>
                  <td><button on click> Modificar </button></td>
                  <td><button on click> Eliminar </button></td> 
                  <td><button on click> Visita </button></td>            
                </tr>
                <tr>
                  <td><input type="text" id="paciente5" placeholder="Paciente 5" style="width: 200px;">  </td>
                  <td> <button on click> Consultar </button></td>
                  <td><button on click> Modificar </button></td>
                  <td><button on click> Eliminar </button></td> 
                  <td><button on click> Visita </button></td>            
                </tr>
    
              </table>
        <p></p>
              <button id="visita" class="confirm">Visita</button>
            </div>
    
            <form action="/createidAnt" method="POST" class="registro" id="registro">
              <h1>Registro</h1>
        
              <fieldset id="identificacion">
                <legend><h2>Identificacion</h2></legend>
                <div>
                  <span>
                    Expediente:
                    <input type="text" name="expediente">
                  </span>
                  <span>
                    Fecha de nacimiento:
                    <input type="date" name="fechaNac">
                    
                  </span>
                  <span>
                    CURP:
                    <input type="text" name="curp" maxlength="18">
                  </span>
    
                  <span>
                    Sexo:
                    <select id="country" name="sexo">
                      <option value= "1">Masculino</option>
                      <option value= "0">Femenino</option>
                    </select>
                  </span>
                </div>
        
                <div>
                  <span>
                    Talla:
                    <input type="text" name="talla">
                  </span>
                  <span>
                    Entidad de nacimiento:
                    <input type="text" name="entidad">
                  </span>
                  <span>
                    Domicilio:
                    <input type="text" name="domicilio">
                  </span>
                  <span>
                    Teléfono:
                    <input type="text" name="telefono" maxlength="15">
                  </span>
                </div>
              </fieldset>

              <fieldset id="antecedentes">
                <legend><h2>Antecedentes</h2></legend>
                <section>
                  <div class="dropdown">
                    <a href="#" class="dropdown-link">Abuelos</a>
                    <div class="dropdown-content">
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Enf. cardiovascular</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">HTA</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Diabetes</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Enf. vascular</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Dislepidemias</label>
                    </div>
                  </div>
                
                  <div class="dropdown">
                    <a href="#" class="dropdown-link">Padres</a>
                    <div class="dropdown-content">
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Enf. cardiovascular</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">HTA</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Diabetes</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Enf. vascular</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Dislepidemias</label>
                    </div>
                  </div>
                
                  <div class="dropdown">
                    <a href="#" class="dropdown-link">Tíos</a>
                    <div class="dropdown-content">
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Enf. cardiovascular</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">HTA</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Diabetes</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Enf. vascular</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Dislepidemias</label>
                    </div>
                  </div>
                
                  <div class="dropdown">
                    <a href="#" class="dropdown-link">Hermanos</a>
                    <div class="dropdown-content">
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Enf. cardiovascular</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">HTA</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Diabetes</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Enf. vascular</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Dislepidemias</label>
                    </div>
                  </div>
                
                  <div class="dropdown">
                    <a href="#" class="dropdown-link">Otros</a>
                    <div class="dropdown-content">
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Enf. cardiovascular</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">HTA</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Diabetes</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Enf. vascular</label>
                      <input type="hidden" name="familiares[]" value="0">
                      <label><input type="checkbox" name="familiares[]" value="1">Dislepidemias</label>
                    </div>
                  </div>
                  <div class="dropdown">
                    <a href="#" class="dropdown-link">Personales</a>
                    <div class="dropdown-content">
                      <input type="hidden" name="personales[]" value="0">
                      <label><input type="checkbox" name="personales[]" value="1">Enf. cardiovascular</label>
                      <input type="hidden" name="personales[]" value="0">
                      <label><input type="checkbox" name="personales[]" value="1">HTA</label>
                      <input type="hidden" name="personales[]" value="0">
                      <label><input type="checkbox" name="personales[]" value="1">Diabetes</label>
                      <input type="hidden" name="personales[]" value="0">
                      <label><input type="checkbox" name="personales[]" value="1">Alcoholismo</label>
                      <input type="hidden" name="personales[]" value="0">
                      <label><input type="checkbox" name="personales[]" value="1">Dislepidemias</label>
                      <input type="hidden" name="personales[]" value="0">
                      <label><input type="checkbox" name="personales[]" value="1">Post menopausia</label>
                      <input type="hidden" name="personales[]" value="0">
                      <label><input type="checkbox" name="personales[]" value="1">Terapia de reemplazo hormonal</label>
                    </div>
                  </div>
                </section>
                <button type="submit">Guardar </button>
              </fieldset>
            </form>
              
            <form action="/createDiagno" method="POST" class="registro" id="registro"></form>
              <fieldset id="diagnostico">
                <legend> <h2>Datos del diagnostico</h2> </legend>
                <section>
                  Ingreso:
                  <select name="ingreso-reingreso">
                    <option value="ingreso">Ingreso</option>
                    <option value="reingreso">Reingreso</option>
                  </select>
                  <br>
                  1. D.M.:
                  <select name="tipo-dm">
                    <option value="dm1">1</option>
                    <option value="dm2">2</option>
                    <option value="dm3">Gestacional</option>
                    <option value="dm4">Otro</option>
                  </select>
                  2. HTA:
                  <input type="checkbox" name = "hta">
                  3. Obesidad:
                  <input type="checkbox" name = "obesidad">
                  4. Dislipidemias:
                  <input type="checkbox" name = "dislipidemias">
                  5. Síndrome metabólico:
                  <input type="checkbox" name = "metabolico">
                  6. Sobrepeso:
                  <input type="checkbox" name = "sobrepeso"><br>
                  Detección se le realizó por:
                  <select name="deteccion">
                    <option value="pesquisa">Pesquisa</option>
                    <option value="sintomatologia">Por sintomatología</option>
                  </select>
                  Tratamiento previo:
                  <select name="tratamiento">
                    <option value="si">Sí</option>
                    <option value="no">No</option>
                  </select>
                  COVID-19:
                  <select name="covid">
                    <option value="si">Sí</option>
                    <option value="no">No</option>
                  </select><br>
                </section>
              </fieldset>
              <div class="boton">
                <button id="cancel" type="button" class="confirm">Cancelar</button>
                <button id="confirm" type="button" class="confirm">Confirmar</button>
              </div>
              
            <!--</form>***************************************************************************-->
          </div>

          <form class="control" id="control">
            <h1>Control</h1>
            <fieldset >
              <h3>Fecha</h3>
              
              <input type="date" name="fecha" value="2021-03-23" min="1900-01-01" max="2021-03-23"  >
              <div class="imc">
                <span>
                  <label for="peso">Peso:</label>
                  <input type="number" id="peso"  name="peso" size="5" oninput="suma()"> 
                  <label for="peso">kg</label>
                </span>
                <span>
                  <label for="estatura">Talla
                  </label> 
                  <input type="number" id="estatura" name="estatura" size="5" oninput="suma()">  
                  <label for="estatura">mts</label> 
                </span>
                <span>
                  <label for="imc">IMC:</label> 
                  <input type="number" id="imc" name="imc" readonly> 
                </span>

                Trigliceridos:
                <input type="text" name="hdl">
              </div>
                
              <span>   
                <label for="glucemia">Glucemia:</label>
                <input type="text" name="glucemia">
                <label for="tension">HbA1c:</label> 
                <input type="number" name="tension">   
                <label for="tension">%</label>

                
              </span>
              <label for="pies">Revision pies</label> 
                <input type="checkbox" name="pies">   
              <span>
                <label for="control">Paciente: </label> 
                <select id="control" name="control">
                  <option value="controlado">Controlado</option>
                  <option value="nocontrolado">No controlado</option>
                </select> 
                <br>

                <label for="gam">Grupo Ayuda Mutua</label>    
                <input type="checkbox" name="gam">

                <label for="complicaciones">Complicaciones</label>    
                <input type="checkbox" name="complicaciones">
                <br>

                Referencia:
                <input type="text" name="referencia">  
                Baja:
                <input type="text" name="baja"> 
              </span> 
              
            </fieldset>

            <fieldset >
              <div id="colesterol">
                <h3>Colesterol</h3>
                <span>
                  <label for="hdl">HDL:</label> 
                  <input type="number" name="hdl" id="hdl" size="5" oninput="calcular()" >
                </span>
                <span>
                  <label for="ldl">LDL:</label> 
                  <input type="number" name="ldl" id="ldl"   size="5" oninput="calcular()">
                </span>
                <span>
                  <label for="total">Total:</label> 
                  <input type="number" name="total" id="total"  size="6" readonly>
                </span>
              </div>    
              
              <div id="tensionArt">
                <h3>Tension Arterial</h3>
                    Sistólica:
                <input type="text" name="tension">
                  Diastólica:
                <input type="text" name="tension">
              </div>

              <div>
                <h3>Tratamiento preescrito</h3>
                No farmacologico:
                <input type="text" name="farmacologico">
                Farmacologico:
                <input type="text" name="nofarmacologico">    
              </div>
              
            </fieldset>
            <fieldset>
              <h3>Observaciones</h3>
              <textarea name="notas" id="" cols="40" rows="13"></textarea>
            </fieldset>
            <div class="boton">
              <button class="confirm" type="button"  id="return">Cancelar</button>
              <button class="confirm" type="button" id="visiConfirm">Confirmar</button>
            </div>
            
          </form>  

        </div>

        <footer>
          Equipo 1 Desarrollo web
        </footer>
      </div>
      

      <script src="{{url_for('static', filename='JS/script.js')}}"></script>
  </body>
</html>